$break-mobile: 300px;
$break-tablet: 720px;
$break-desktop: 1024px;

$width-desktop: 920px;
$width-tablet: 700px;

$light-grey: #f0f0f0;
$grey: #e0e0e0;
$blue: #4080C0;
$orange: #D26911;

//--------------------------------------------------------------------------------

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

//--------------------------------------------------------------------------------

body, p, td, th, h1, h2, h3, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);
}

@mixin content() {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $break-tablet) and (max-width: $break-desktop) {
    width: $width-tablet;
  }

  @media screen and (min-width: $break-desktop) {
    width: $width-desktop;
  }
}

a {
  text-decoration: none;
}

//--------------------------------------------------------------------------------

@media screen and (max-width: $break-desktop) {
  .for-me-on-github {
    display: none;
  }
}

section.content > p {
  padding: 10px 0;
}

#header {
  border-bottom: 1px solid #f0f0f0;

  @mixin header-element-padding() {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  h1 {
    float: left;
    font-weight: normal;
    font-size: 20px;
    line-height: 1em;
    margin: 0;
    @include header-element-padding;

    @media screen and (max-width: $break-desktop) {
      font-size: 18px;
    }

    @media screen and (min-width: $break-desktop) {
      font-size: 20px;
    }
  }

  .nav {
    padding: 0;
    margin: 0;
    float: right;
    list-style: none;

    .nav-item {
      @include header-element-padding;
      float: left;

      @media screen and (max-width: $break-desktop) {
        padding-left: 6px;
        padding-right: 6px;
      }

      @media screen and (min-width: $break-desktop) {
        padding-left: 14px;
        padding-right: 14px;
      }

      a {
        color: #808080;
        font-size: 15px;

        @media screen and (max-width: $break-desktop) {
          font-size: 13px;
        }

        @media screen and (min-width: $break-desktop) {
          font-size: 15px;
        }
      }
    }

    &.overview .overview,
    &.data-types .data-types,
    &.control-flow .control-flow,
    &.basic-usage .basic-usage,
    &.reagent .reagent,
    &.atoms .atoms,
    &.javascript .javascript {
      border-bottom: 2px solid $orange;
    }
  }
}

#footer {
  height: 500px;
}

.content {
  @include content;
  position: relative;
}

.quick-links {
  box-sizing: border-box;
  padding: 0 5px;

  @media screen and (max-width: $break-tablet) {
  }

  @media screen and (min-width: $break-tablet) and (max-width: $break-desktop) {
    position: fixed;
    width: 250px;
    float: left;
  }

  @media screen and (min-width: $break-desktop) {
    position: fixed;
    width: 300px;
    float: left;
  }

  .links {
    padding: 0;

    .quick-link {
      text-decoration: none;
      color: $blue;
      font-size: 13px;
      display: block;
      list-style: none;
      border-right: 1px solid $grey;
      border-bottom: 1px solid $grey;
      border-left: 1px solid $grey;
      box-sizing: border-box;
      margin-right: 15px;
      padding: 6px 10px;

      &.H2 {
        background-color: $light-grey;

        &:hover {
          background-color: $light-grey;
        }
      }

      &.H3 {
        padding-left: 20px;

        &:before {
          content: '- ';
        }
      }

      &.active {
        border-left: 3px solid $orange;
      }

      &:hover {
        background-color: #fafafa;
      }
    }

    .quick-link:first-of-type {
      border-top: 1px solid $grey;
    }
  }
}

.main-content {
  box-sizing: border-box;
  padding: 0 5px;

  @media screen and (min-width: $break-tablet) {
    width: 65%;
    margin-left: 35%;
  }
}

pre {
  margin-left: 25px;
}