$break-mobile: 300px;
$break-tablet: 720px;
$break-desktop: 900px;

$width-desktop: 920px;

//--------------------------------------------------------------------------------

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

//--------------------------------------------------------------------------------

body, p, td, th, h1, h2, h3, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);
}

@mixin content() {
  width: $width-desktop;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

//--------------------------------------------------------------------------------

#header {
  border-bottom: 1px solid #f0f0f0;

  @mixin header-element-padding() {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  h1 {
    float: left;
    font-weight: normal;
    font-size: 20px;
    line-height: 1em;
    margin: 0;
    @include header-element-padding;
  }

  .nav {
    padding: 0;
    margin: 0;
    float: right;
    list-style: none;

    .nav-item {
      @include header-element-padding;
      padding-left: 20px;
      padding-right: 20px;
      float: left;

      a {
        color: #808080;
        font-size: 15px;
      }
    }

    &.overview .overview,
    &.data-types .data-types,
    &.control-flow .control-flow,
    &.reagent .reagent,
    &.atoms .atoms,
    &.javascript .javascript {
      border-bottom: 2px solid #D26911;
    }
  }

}

.content {
  @include content;
}

section {
  padding-top: 20px;
}

.quick-links {
  box-sizing: border-box;
  float: left;
  width: 35%;
  padding: 0 5px;
}

.main-content {
  box-sizing: border-box;
  float: left;
  width: 65%;
  padding: 0 5px;
}

pre {
  margin-left: 25px;
}