<link href='/css/website.css' rel='stylesheet' type='text/css'>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    // for each h2 or h3 element in the main content, create a quick link
    // and allow the user to scroll directly to the content
    $(".main-content h2, .main-content h3").each(function (index, element) {
      var target = "#" + element.id;

      var link = document.createElement("a");
      link.setAttribute("href", "#");
      link.innerHTML = element.innerText;
      link.onclick = function (event) {
        $('html, body').animate({
          scrollTop: $(target).offset().top
        }, 1000);
      };

      var item = document.createElement("li");
      item.appendChild(link);
      item.className = element.tagName;

      $(".quick-links ul").append(item);
    });
  });
</script>

<!-- client side syntax highlighting -->
<link rel="stylesheet" href="https://yandex.st/highlightjs/8.0/styles/default.min.css">
<script src="https://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
