<div id="header">
  <div class="content clearfix">
    <ul class='nav clearfix {{if isset .Params "active_tab"}}{{ .Params.active_tab }}{{ else }}overview{{ end }}'>
      <li class="nav-item overview"><a href="/">Overview</a></li>
      <li class="nav-item data-types"><a href="/data-types/index.html">Data Types</a></li>
      <li class="nav-item control-flow"><a href="/control-flow/index.html">Control Flow</a></li>
      <li class="nav-item atoms"><a href="/atoms/index.html">Atoms</a></li>
      <li class="nav-item javascript"><a href="/javascript/index.html">JavaScript</a></li>
      <li class="nav-item reagent"><a href="/reagent/index.html">Reagent</a></li>
    </ul>
    <h1>ClojureScript Reference</h1>
  </div>
</div>