<link href='/css/website.css' rel='stylesheet' type='text/css'>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
  function highlight(element) {
    $('a.quick-link').removeClass('active');
    $(element).addClass("active");
    return false;
  }

  $(document).ready(function () {
    // for each h2 or h3 element in the main content, create a quick link
    // and allow the user to scroll directly to the content
    $(".main-content h2, .main-content h3").each(function (index, element) {
      var target = "#" + element.id;
      var link = document.createElement("a");
      link.setAttribute("href", "#");
      link.className = 'quick-link ' + element.tagName;
      link.innerHTML = $(element).text();

      link.onclick = function (event) {
        highlight(event.target);

        $('html, body').animate({
          scrollTop: $(target).offset().top
        }, 500);
      };

      $(".quick-links div").append(link);
    });
  });
</script>

<!-- client side syntax highlighting -->
<link rel="stylesheet" href="https://yandex.st/highlightjs/8.0/styles/default.min.css">
<script src="https://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
