<html>
<head>
  {{ partial "head.html" . }}
</head>
<body>
{{ partial "header.html" . }}

<section class="content">
  <p>
    Welcome to the ClojureScript Reference. This is intended as a resource for myself and
    others who are making the transition from JavaScript to ClojureScript.
  </p>

  <p>
    This site assumes some basic familiarity with ClojureScript and its syntax. If you're new to ClojureScript, here are
    some references that may be useful to you.
  </p>

  <ul>
    <li><a href="https://github.com/shaunlebron/ClojureScript-Syntax-in-15-minutes">ClojureScript Syntax in 15
      minutes</a></li>
    <li><a href="http://clojurescriptkoans.com/">ClojureScript Koans</a></li>
  </ul>
</section>

{{ partial "footer.html" . }}
</body>
</html>
